body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	word-wrap: break-word;
}

table {
	border-collapse: collapse;
}

table th {
	font-weight: 600;
	text-align: left;
}

h1,
h2,
h3,
h4 {
	font-weight: 600;
}

strong {
	font-weight: 600;
}

a:link {
	text-decoration: none;
	color: #e64503;
}

a:visited {
	color: #e64503;
}

ul.disc {
	list-style-type: disc;
}

ul.disc li {
	margin-left: 0;
}

ul {
	margin: 0 0 10px 0;
	list-style-type: none;
}

ul li {
	margin-left: 4px;
}

.important {
	color: #d00000;
	font-weight: 600;
}

.container {
	max-width: 1008px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0;
	padding-left: 0;
}

.container img {
	max-width: 100%;
	box-sizing: content-box;
}

table.rankings {
	font-size: 14px;
	width: 100%;
}

table.rankings th,
table.rankings td {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
}

table.rankings tr:nth-child(2n) {
	background-color: #f6f8fa;
}

table.rankings tr th {
	background: white;
}

table.rankings tr:hover th {
	background: #ffdab9;
}