* {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	line-height: 1.5;
	/* word-wrap: break-word; */
}

h1,
h2,
h3,
h4 {
	font-weight: 600;
}

button {
	padding: 0;
	border: none;
	outline: none;
	font: inherit;
	color: inherit;
	background: none;
}

button:focus-visible {
	outline: 2px solid black;
	border-radius: 2px;
}

fieldset,
select,
input {
	font-size: inherit;
}

table {
	border-collapse: collapse;
}

a:link {
	text-decoration: none;
	color: #e64503;
}

a:visited {
	color: #e64503;
}

ul.disc {
	list-style-type: disc;
}

ul.disc li {
	margin-left: 0;
}

ul {
	margin: 0 0 10px 0;
	list-style-type: none;
}

ul li {
	margin-left: 4px;
}

.strong {
	font-weight: 600;
	font-size: 90%;
}

.important {
	color: #d00000;
	font-weight: 600;
}

.container {
	max-width: 1008px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0;
	padding-left: 0;
}

.container img {
	max-width: 100%;
	box-sizing: content-box;
}

.error {
	margin: 10px 0;
	padding: 0 10px 10px 10px;
	border-radius: 5px;
	color: #de222b;
	background-color: #ffcccc;
	border: 1px solid #f88888;
}

.error .message {
	color: black;
}
