@import url("css/common.css");

:root {
	--flag-scale-sm: .6;
	--flag-scale-med: .7;
	--flag-scale-lg: .8;
	--flag-scale-full: 1;
}

html {
	width: 100%;
	font-size: 12px;
}

body {
	/**
	 * Duct-tape to avoid jank when scrolled and then changing to a state
	 * with no (or few) results.
	 */
	margin: 2px 2px 30em 2px;
}

.flag {
	position: relative;
	bottom: 1px;
	transform: scale(var(--flag-scale-sm));
	transform-origin: left center;
	margin-right: calc(-24px * (1.0 - var(--flag-scale-sm)));
}

/**
 Panel
 */
#panel {
	width: 100%;
	background-color: #f6f8fa;
	margin: 1em 0;
}

#panel .panel-grid {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	padding: .5em;
	border: 1px solid #dfe2e5;
}

#dropdown-filters {
	width: 240px;
}

/* the main parameters */
#parameters {
	display: flex;
	column-gap: 1em;
}

#parameters>div {
	display: flex;
	flex-direction: column;
}

/* The dropdowns for filtering */
#dropdown-filters {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin: .5em 0;
}

#dropdown-filters>div {
	display: flex;
}

#dropdown-filters>div>label {
	flex: 1;
}

#dropdown-filters>div>input,
#dropdown-filters>div>select {
	flex: 3;
}

/**
 Sort columns
 */
#sort-columns {
	display: flex;
	gap: .5em;
}

/* This is only aligning the label with the buttons at this point */
#sort-columns>* {
	margin: auto 0;
}

.sort-column {
	background-color: white;
	border: 1px solid #dfe2e5;
	padding: 0.25em 0 0.25em 0.5em;
	font-weight: 700;
	font-size: 90%;
}

.sort-column:hover {
	cursor: pointer;
}

.sort-column.over {
	outline: 3px dotted #666;
}

.sort-column.secondary {
	color: #008000;
}

.sort-column.tertiary {
	color: #0000ff;
}

.sort-column span {
	display: inline-block;
	opacity: 0.9;
	transform: scale(0.7);
	padding-left: 1em;
}

.sort-column.descending span:before {
	content: "▼";
}

.sort-column.ascending span:before {
	content: "▲";
}

/**
 The rankings table
 */
table.rankings {
	width: 100%;
	margin: 1em 0;
}

/* th only */
table.rankings th {
	background: white;
}

/* th or td */
table.rankings th,
table.rankings td {
	max-width: 14em;
	border: 1px solid #dfe2e5;
	line-height: 1;
	text-align: left;
}

/* All cell padding (must be on the button for sortable column headers) */
table.rankings th button,
table.rankings th.no-sort,
table.rankings td {
	padding: 2px 0 2px 3px;
}

/* zebra */
table.rankings tr:nth-child(2n - 1) {
	background-color: #f6f8fa;
}

/* table row hover */
table.rankings tr:hover th,
table.rankings tr:hover {
	background: #ffdab9;
}

/* Sortable column header stuff */
table.rankings th button {
	background: transparent;
	display: flex;
	width: 100%;
	text-align: inherit;
	cursor: pointer;
}

table.rankings th .column {
	display: flex;
	flex-direction: column;
}

table.rankings th .column:first-child {
	flex: 1;
}

table.rankings th span.sort {
	flex: 1;
	opacity: 0.225;
	line-height: 0.5;
	margin-left: 3px;
}

table.rankings th span.up {
	transform: scale(0.7) translateY(-.15em);
}

table.rankings th span.down {
	transform: scale(0.7) translateY(.15em);
}

table.rankings th.secondary span.sort {
	color: green;
}

table.rankings th.tertiary span.sort {
	color: blue;
}

table.rankings th.ascending span.up {
	opacity: 0.9;
}

table.rankings th.descending span.down {
	opacity: 0.9;
}

/* Column specific stuff */
table.rankings .group {
	text-align: center;
}

table.rankings .rank {
	text-align: center;
}

table.rankings .result {
	text-align: right;
}

/* Hidden except on wider screens */
table.rankings .event .cubing-icon {
	display: none;
}

i.cubing-icon:before {
	font-family: cubing-icons;
	font-style: normal;
	vertical-align: -15%;
}

i.cubing-icon {
	padding: 0 .5em 0 .5em;
	font-size: 1em;
	transform: scale(1.5);
	text-decoration: inherit;
}

table.rankings .competition {
	text-align: left;
	display: none;
}

@media screen and (min-width: 500px) {
	html {
		font-size: 13px;
	}

	.flag {
		transform: scale(var(--flag-scale-med));
		margin-right: calc(-24px * (1.0 - var(--flag-scale-med)));
	}

	#dropdown-filters {
		width: auto;
	}

	#dropdown-filters {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 1em;
		row-gap: .75em;
	}

	#dropdown-filters div {
		display: flex;
		flex-direction: column;
	}

	table.rankings th button,
	table.rankings th.no-sort,
	table.rankings td {
		padding: 4px 3px 4px 3px;
	}

}

@media screen and (min-width: 768px) {
	html {
		font-size: 14px;
	}

	.flag {
		transform: scale(var(--flag-scale-lg));
		margin-right: calc(-24px * (1.0 - var(--flag-scale-lg)));
	}

	table.rankings th button,
	table.rankings th.no-sort,
	table.rankings td {
		padding: 5px 3px 5px 3px;
	}


	/* Wide enough to show the competition column */
	table#ranking-table .competition {
		display: table-cell;
	}
}

@media screen and (min-width: 992px) {
	html {
		font-size: 15px;
	}

	/* We can include the event icon at this point */
	table#ranking-table .event .cubing-icon {
		display: inline-block;
	}
}

@media screen and (min-width: 1024px) {
	html {
		font-size: 15px;
	}

	.flag {
		transform: scale(var(--flag-scale-full));
		margin-right: calc(-24px * (1.0 - var(--flag-scale-full)));
	}

	table.rankings th button,
	table.rankings th.no-sort,
	table.rankings td {
		padding: 6px 3px 6px 3px;
	}
}