
body {
	/**
	 * Duct-tape to avoid jank when scrolled and then changing to a state
	 * with no (or few) results.
	 */
	margin-bottom: 30em;
	font-size: 15px;
}

button,
select,
input {
	font-size: inherit;
}

table {
	border-collapse: collapse;
}

.bold {
	font-weight: 700;
	font-size: 90%;
}

#panel {
	width: 100%;
	background-color: #f6f8fa;
}

#panel .panel-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid #dfe2e5;
}

#sort-columns {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr;
	gap: 10px;
}

#sort-columns>* {
	margin: auto 0;
}

#sort-columns .sort-column {
	position: relative;
}

#sort-columns button {
	width: 100%;
	padding: 8px 20px 8px 14px;
	text-align: left;
	background-color: white;
	border: 1px solid #dfe2e5;
}

#sort-columns button:hover {
	cursor: grab;
}

#sort-columns button.over {
	outline: 3px dotted #666;
}

#sort-columns div:nth-child(3) button {
	color: #008000;
}

#sort-columns div:nth-child(4) button {
	color: #0000ff;
}

#sort-columns button+span {
	position: absolute;
	right: 5px;
	top: 0;
	bottom: 0;
	width: 10px;
	cursor: pointer;
	pointer-events: none;
	/* Don't intercept click events */
}

#sort-columns button+span:before {
	position: absolute;
	display: block;
	opacity: 0.9;
	bottom: 40%;
}

#sort-columns button.ascending+span:before {
	content: "▲";
}

#sort-columns button.descending+span:before {
	content: "▼";
}

#sort-columns button.secondary+span:before {
	color: #008000;
}

#sort-columns button.tertiary+span:before {
	color: #0000ff;
}

#search {
	margin: auto;
}

#parameters {
	margin: auto 0;
	text-align: right;
}

table#ranking-table .date {}

table#ranking-table .event {}

table#ranking-table .age {}

table#ranking-table .rank {
	text-align: center;
}

table#ranking-table .result {
	text-align: right;
}

.sr-only {
	position: absolute;
	top: -30em;
}

table#ranking-table th {
	position: relative;
	margin: 0;
	padding: 0;
}

/* Padding needs to be on the label, not the header */
table#ranking-table th *:first-child {
	padding: 8px 20px 8px 14px;
	margin: 0;
}

table#ranking-table th button {
	background: transparent;
	border: none;
	display: inline;
	width: 100%;
	text-align: inherit;
	outline: none;
	cursor: pointer;
}

/* The column sort state indicators */
table#ranking-table th button+span {
	position: absolute;
	right: 2px;
	top: 0;
	bottom: 0;
	width: 10px;
	cursor: pointer;
	pointer-events: none;
	/* Don't intercept click events */
}

table#ranking-table th button+span:before,
table#ranking-table th button+span:after,
.sort-column button+span:before,
.sort-column button+span:after {
	left: 0;
	opacity: 0.225;
	line-height: 9px;
	font-size: 70%;
}

table#ranking-table th button+span:before {
	position: absolute;
	display: block;
	bottom: 50%;
	content: "▲";
	content: "▲" /"";
}

table#ranking-table th button+span:after {
	position: absolute;
	display: block;
	top: 50%;
	content: "▼";
	content: "▼" / "";
}

/* primary sort */
table#ranking-table th.primary.ascending button+span:before {
	opacity: 0.9;
}

table#ranking-table th.primary.descending button+span:after {
	opacity: 0.9;
}

/* secondary sort */
table#ranking-table th.secondary.ascending button+span:before {
	opacity: 0.9;
	color: green;
}

table#ranking-table th.secondary.descending button+span:after {
	opacity: 0.9;
	color: green;
}

/* tertiary sort */
table#ranking-table th.tertiary.ascending button+span:before {
	opacity: 0.9;
	color: blue;
}

table#ranking-table th.tertiary.descending button+span:after {
	opacity: 0.9;
	color: blue;
}

.error {
	margin: 10px 0;
	padding: 0 10px 10px 10px;
	border-radius: 5px;
	color: #de222b;
	background-color: #ffcccc;
	border: 1px solid #f88888;
}

.error .message {
	color: black;
}

/* Breakpoints */
@media only screen and (max-width: 767px) {
	body {
		font-size: 12px !important;
	}

	#panel {
		min-width: 345px;
	}

	#panel .panel-grid {
		grid-template-columns: 1fr;
	}

	#panel #search,
	#panel #parameters {
		margin: .5em 0;
		text-align: left;
	}

	i.cubing-icon {
		display: none !important;
	}

	th.competition,
	td.competition {
		display: none;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: collapse;
	}
}

@media only screen and (max-width: 480px) {
	body {
		font-size: 10px !important;
	}
}

@media only screen and (max-width: 639px) {
	body {
		font-size: 8px !important;
	}
}