
.container {
	max-width: none;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-refreshed {
	font-size: .8em;
	margin: 2em 0;
}

label {
	margin-right: .5em;
}

/* table row zebra */
table tr:nth-child(odd) {
	background-color: #2a2a2a;
}

/* table row hover */
table tr:hover {
	background: #454545;
}

/* Table column widths and alignment */
table td.rank,
table th.rank {
	width: 4em;
	text-align: center;
}

table td.name,
table th.name {
	width: 20em;
	text-align: left;

}

table td.score,
table th.score {
	width: 4em;
	text-align: right;
}

table td.event,
table th.event {
	width: 10em;
	text-align: left;
}

table td.result,
table th.result {
	width: 8em;
	text-align: right;
}

/* Personal event table */
table#person-ranks th.event,
table#person-ranks th.score {
	cursor: pointer;
}

/* Add arrow indicator for sorted column */
table#person-ranks th.event.sorted::after,
table#person-ranks th.score.sorted::after {
    content: "▲";
    padding-left: 0.4em;
    font-size: 0.8em;
}

/* high score colors */
table#person-ranks tr.top-score {
	background-color: #00ff0080;
}

table#person-ranks tr.high-score {
	background-color: #00ff0050;
}

table#person-ranks tr.good-score {
	background-color: #00ff0020;
}

/* Parameters panel */
.parameters {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .6em;
	margin: 1em 0;
}

.parameters > div {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.parameters select,
.parameters input {
  width: 100%;
  box-sizing: border-box;
}

/* Search */
ul#search-results {
	position: absolute;
	top: 100%;
	left: 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: black;
	z-index: 10;
}

ul#search-results li {
	padding: 8px;
	cursor: pointer;
}

/* Pagination */
.page-selector-box {
	font-size: .9em;
}

.page-button {
	width: 1.5em;
	padding: .25em 0;
	margin: 0 .1em;
	border-radius: 8px;
	text-align: center;
	background: transparent;
}

.page-button:hover {
	background: #454545;
	outline: solid 1px #fff3cc;
}

.page-button-active {
	background: #e64503;
	color: #fff;
	outline: solid 1px #888;
}

.page-selector-box input[type="number"] {
	font-size: inherit;
	width: 2.7em;
}
